html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,197,1) 45%, rgba(252,176,69,1) 100%);
}

a{
  justify-content: space-between;
}
